/*
HEADER
================================================ */
.page-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 100px;
  margin-top: 14px;
}

.main-nav{
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 50px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
}

.main-nav a{
  color: black;
}

.main-nav a:hover{
  color: aqua;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

/*
スマホ対応
================================================ */
@media (max-width: 481px) {
  /* Header */
      .page-header{
        width: 100%;
      }
      .main-nav{
        width: 100%;
      }
    }