@charset 'UTF-8';
/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
color: var(--text);
  background: var(--bg);
  font-family: 'Bree Serif', sans-serif;
  transition: .5s;
}

/*
PROFILE
=============================================== */
/* MAIN */

.main-profile{
  background-color: thistle;
  
}

h2{
  font-size: 100px;
  display: flex;
  justify-content: center;
}

.profile-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile_contents {
  background: white;
  width: 450px;
  height: 550px;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_img {
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.profile_img img {
  width: 450px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.profile_contents h3 {
  font-size: 1.4rem;
  width: auto;
  margin: 0;
  padding: 1rem;
  display: block;
  text-align: center;
}

.profile_contents span {
  font-size: 1rem;
  width: auto;
  margin: 3px;
  text-align: center;
}


/*
スマホ対応
================================================ */
@media screen and (max-width: 400px) {
  /* Header */
      .page-header{
        width: 100%;
      }
      .main-nav{
        width: 100%;
      }

      .main-profile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h2{
        width: 100%;
        font-size: 30px;
      }

      img{
        width: 100%;
      }

      .profile-block{
        width: 100%;
        display: block;
      }

      .profile_contents{
        width: 100%;
        
      }
    }